* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 600px;
  margin: 0 auto; 
}

.hidden {
  display: none;
}

form {
  margin-bottom: 0;
}

.header {
  width: 600px;
  /* text-align: center; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#add-form {
  width: 600px;
  margin: 0 auto;
}